/*Universal styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Main background color for page content*/
body {
    background-color: #d9dcd6;
}

/*Styles link text*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Styles paragraph text*/
p {
    font-size: 16px;
}

/*Styles background & type for header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Styles 'Horiseon' text*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Styles navigation in header*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Styles navigation links in header*/
nav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/*Styles footer at bottom of page*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Styles footer at bottom of page*/
footer h2 {
    font-size: 20px;
}

/*Makes the 'seo' in Horiseon a light grey color*/
.seo {
    color: #d9dcd6;
}

/*Applies background image + size/position style to hero section*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Styles section element containing the services content*/
.services-container {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Styles services sections*/
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Styles images contained within services class*/
.services img {
    max-height: 200px;
}

/*Styles h2 elements contained within services class*/
.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Enables content to float left within its container*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Enables content to float right within its container*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Styles section container for benefits*/
.benefits-container {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Styles sections listing individual benefits*/
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Styles h3 elements within .benefits class*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Styles img elements within .benefits class*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}